/* Navigation from v1 */

.navigation {
    box-sizing: border-box;
    background-color: #005bbb;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* ul {
    padding: 0;
    margin: 0;
}

li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
} */

.active {
    color: #88CCF1;
}

/* New */

.homeNavigation {
    animation-name: openNav;
    animation-duration: 1s;
}
