#sidebar {
    width: 22rem;
    background-color: bisque;
    border-right: solid 1px #e3e3e3e3;
    display: flex;
    flex-direction: column;
}

#sidebar > * {
    padding-left: 2rem;
    padding-right: 2rem;
}